.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 70px;
    border-right-width: 1px;
    border-style: solid;
    
     border-right-color: rgb(117, 117, 117); 
    box-shadow: inset 1px 1px 2px rgb(255, 255, 255);

}

.sidebar-link{
    padding-left: 15px;
    padding-top: 30px;
    padding-right: 15px;
    /* height: 1px; */
    margin: 2px;
}

.side-img{
    width: 40px;
    cursor: pointer;
    
}
