
.body{
    background-color: rgb(15, 15, 15);
}

.thumbnail{
    /* width: 300px; */
    width: 100%;
    border-radius: 15px;
    cursor: pointer;

}


.videos{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
    padding-left: 150px;
    padding-right: 15px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}







.video-preview{
    /* width: 300px; */
    /* display: inline-block; */
    /* vertical-align: top; */
/*     margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 40px; */

}

.channel-picture{
    

}

.video-info{

    margin-top: 2px;
}

.profile-picture{
    width: 40px;
    border-radius: 50px;
    cursor: pointer;
    
}

.video-title{
    margin-top: 0px;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 6px;
    cursor: pointer;
}

.thumbnail-row{
    margin-bottom: 10px;
    position: relative;
    z-index: 0;
}

.video-author, .video-stats{
    font-size: 15px;
    cursor: pointer;
}

.video-author{
    margin-bottom: 1px;
    color: rgb(170, 170, 170)
}

.video-stats{
    margin-top: 1px;
    color: rgb(170, 170, 170)
}


/* .channel-picture, .video-info{
    background-color: aliceblue;
} */

.video-time{
    background-color: black;
    color: white ;
    position: absolute;
    bottom: 10px;
    right: 8px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 4px
}
